<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('../partials/head', {pageTitle: 'cheat_detection_pair'}); %>
    <script src="<%= node_modules_asset_path('lodash/lodash.min.js') %>"></script>
    <script src="<%= node_modules_asset_path('d3/dist/d3.min.js') %>"></script>
    <script src="<%= asset_path('localscripts/histogram.js') %>"></script>
    <script src="<%= asset_path('localscripts/scatter.js') %>"></script>
    <script src="<%= asset_path('localscripts/histmini_with_marker.js') %>"></script>
    <script src="<%= asset_path('localscripts/parallel_histograms.js') %>"></script>
    <!-- Load Chart.js Library-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js"></script>
    <!-- Load Papa Parse Library-->
    <script src="https://cdn.jsdelivr.net/npm/papaparse@5.3.2/papaparse.min.js"></script>
    <style>
      tr[data-href] {
        cursor: pointer;
      }
      #cardHeaderSub {
        max-width: 95%;
    }
      #accordion {
        max-width: 95%;
      }
      p {
        max-width: 95%;
      }
    </style>
  </head>
  <body>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
      const queryParamsString = window.location.search.substr(1);
      const queryParams = queryParamsString
        .split('&')
        .reduce((accumulator, singleQueryParam) => {
          const [key, value] = singleQueryParam.split('=');
          accumulator[key] = value;
          return accumulator;
          }, {});
          var cardHeader = document.getElementById('cardHeader');
          cardHeader.innerText = 'Detailed Report for Pair (' + queryParams.data1 + ', ' + queryParams.data2 + ')';
        }, {});
      $(function () {
          $('[data-toggle="popover"]').popover({sanitize: false})
      });
      // console.log(window.location.search.substr(1))
      // console.log(window.location)
    </script> 
    <!-- Grab all of the local variables for the results csv file -->
    <script>
      let overall_data = JSON.parse(localStorage.getItem('overall_data'));
      let time_data = JSON.parse(localStorage.getItem('time_data'));
      let answer_data = JSON.parse(localStorage.getItem('answer_data'));
      let order_data = JSON.parse(localStorage.getItem('order_data'));
      let wrong_answer_data = JSON.parse(localStorage.getItem('wrong_answer_data'));
      let score_data = JSON.parse(localStorage.getItem('score_data'));
      let pair_dict = JSON.parse(localStorage.getItem('pair_dict'));
      
      //console.log("Pair_dict: ", pair_dict);

    </script>
    <%- include('../partials/navbar'); %>
    <div id="content" class="container-fluid">
      <%- include('../partials/assessmentSyncErrorsAndWarnings'); %>
      <!-- pair detail on each rule -->
      <div class="card mb-4">
        <div class="card-header bg-primary text-white" id="cardHeader">
          
        </div>
        <p id='cardContent'style="margin:2%">
        </p>
        <ol>

          <!-- rule#1 Time -->
        <li>
          <div class="card-header bg-primary text-white" id="cardHeaderSub">
            <p id='rule1prob'style="margin:2%"></p>
        </div>
          <p id='rule1message'style="margin:2%"></p>
          <!-- <p>Out of 13 same questions, 9 questions (q1, q2, q4, q6, q7, q8, q9, q10, q14) are answered within 60 seconds time difference. Only 0.0025% pairs (1 out of 40000) among the whole class have answered 9 or more questions within 60 seconds.</p>
          <p>A Quintiles Graph demonstrates how rare the count is</p> -->
          <!-- <p>A Quintiles Graph demonstrates time diff distribution</p> -->
          <div id="accordion">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                    <p>See Submission Log Details</p>
                  </button>
                </h5>
              </div>
              <div id="collapseTwo" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                  <table class="table table-sm table-hover">
                    <thread>
                      <tr>
                        <th class="text-center"></th>
                        <th class="text-center">student1</th>
                        <th class="text-center">student2</th>
                        <th class="text-center">time difference</th>
                      </tr>
                    </thead>
                    <tbody id="table1">
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </li><br>
          <!-- rule#2: same anwer -->
          <li> 
            <div class="card-header bg-primary text-white" id="cardHeaderSub">
              <p id='rule2prob'style="margin:2%"></p>
          </div>
            <!-- <p>Out of 13 same questions, 8 questions (q2, q4, q5, q6, q7, q8, q9, q10) are flagged due to same answers. Only 0.005% pairs (2 out of 40000) among the whole class have same or higher answer similarity scores.</p>
            <p>A Quintiles Graph demonstrates how rare the similarity is</p> -->
            <p id='rule2message'style="margin:2%"></p>
            <div id="accordion">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseOne">
                      <p>See Submission Log Details</p>
                    </button>
                  </h5>
                </div>
                <div id="collapseFour" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="card-body">
                    <table class="table table-sm table-hover">
                      <thread>
                        <tr>
                          <th class="text-center"></th>
                          <th class="text-center">Number of Occurance</th>
                          <th class="text-center">Probability of Getting This Wrong Answer</th>
                          <th class="text-center">Probability of Getting Same Answer</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Q4</td>
                          <td class="text-center">5</td>
                          <td class="text-center">2.5%</td>
                          <td class="text-center">15%</td>
                        </tr>
                        <tr>
                          <td>Q7</td>
                          <td class="text-center">2</td>
                          <td class="text-center">1%</td>
                          <td class="text-center">25%</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

          </li><br>

          <!-- rule#3 Order -->
          <li> 
            <div class="card-header bg-primary text-white" id="cardHeaderSub">
              <p id='rule3prob'style="margin:2%"></p>
          </div>
            <!-- <p>Out of 13 same questions, 2 questions (q4, q7) are flagged due to same wrong answers. Only 0.005% pairs (2 out of 40000) among the whole class have higher wrong answer similarity scores.</p>
            <p>A Quintiles Graph demonstrates how rare the similarity is</p> -->
            <p id='rule3message'style="margin:2%"></p>
            <div id="accordion">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseOne">
                      <p>See Submission Log Details</p>
                    </button>
                  </h5>
                </div>
                <div id="collapseThree" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="card-body">
                    <table class="table table-sm table-hover">
                      <thread>
                        <tr>
                          <th class="text-center">Student1's Question Answering Order</th>
                          <th class="text-center">Student1's Question Answering Order</th>
                          <th class="text-center">Edit Distance</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="text-center">q1, q2, q4, q5, q6, q7, q8, q9, q10</td>
                          <td class="text-center">q2, q1, q4, q5, q6, q7, q8, q9, q10</td>
                          <td class="text-center">1</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

          </li><br>

          <!-- rule#4: same wrong anwer -->
          <li> 
            <div class="card-header bg-primary text-white" id="cardHeaderSub">
              <p id='rule4prob'style="margin:2%"></p>
          </div> 
            <!-- <p>Out of 13 same questions, 2 questions (q4, q7) are flagged due to same wrong answers. Only 0.005% pairs (2 out of 40000) among the whole class have same or higher wrong answer similarity scores.</p>
            <p>A Quintiles Graph demonstrates how rare the similarity is</p> -->
            <p id='rule4message'style="margin:2%"></p>
            <div id="accordion">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseOne">
                      <p>See Submission Log Details</p>
                    </button>
                  </h5>
                </div>
                <div id="collapseFive" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="card-body">
                    <table class="table table-sm table-hover">
                      <thread>
                        <tr>
                          <th class="text-center"></th>
                          <th class="text-center">Number of Occurance</th>
                          <th class="text-center">Probability of Getting This Wrong Answer</th>
                          <th class="text-center">Probability of Getting Same Answer</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Q4</td>
                          <td class="text-center">5</td>
                          <td class="text-center">2.5%</td>
                          <td class="text-center">15%</td>
                        </tr>
                        <tr>
                          <td>Q7</td>
                          <td class="text-center">2</td>
                          <td class="text-center">1%</td>
                          <td class="text-center">25%</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

          </li><br>
          
        <!-- rule#5: Abnormal time-score-ration -->
        <!-- <li> 
          <div class="card-header bg-primary text-white" id="cardHeaderSub">
            Earn High Score in an Abnormally Short Period of Time (confidence: x%)
        </div>
          <p>This student's overall time-score-ratio <i style="color:rgb(0, 132, 255)">(total score earned / total time spent)</i> is abnormally high. Only 0.05% students (1 out of 200) among the whole class have same or higher socre-time-ratio.
            In addition, out of 13 questions, 8 questions (q2, q4, q5, q6, q7, q8, q9, q10) has abnormal time-score-ratio. </p>
          <p>A Quintiles Graph demonstrates how rare the similarity is</p>
          <div id="accordion">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <p>See Submission Log Details</p>
                  </button>
                </h5>
              </div>
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                  <table class="table table-sm table-hover">
                    <thread>
                      <tr>
                        <th class="text-center"></th>
                        <th class="text-center">Number of Occurance</th>
                        <th class="text-center">Probability of Getting This Wrong Answer</th>
                        <th class="text-center">Probability of Getting Same Answer</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Q4</td>
                        <td class="text-center">5</td>
                        <td class="text-center">2.5%</td>
                        <td class="text-center">15%</td>
                      </tr>
                      <tr>
                        <td>Q7</td>
                        <td class="text-center">2</td>
                        <td class="text-center">1%</td>
                        <td class="text-center">25%</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </li><br> -->

        <!-- rule#6: same score -->
        <li> 
          <div class="card-header bg-primary text-white" id="cardHeaderSub">
            <p id='rule6prob'style="margin:2%"></p>
        </div> 
          <!-- <p>Out of 13 same questions, 8 questions (q2, q4, q5, q6, q7, q8, q9, q10) are flagged due to same score distribution. Only 0.005% pairs (2 out of 40000) among the whole class have same or higher wrong answer similarity scores.</p>
          <p>A Quintiles Graph demonstrates how rare the similarity is</p> -->
          <p id='rule6message'style="margin:2%"></p>
          <div id="accordion">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseOne">
                    <p>See Submission Log Details</p>
                  </button>
                </h5>
              </div>
              <div id="collapseSix" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                  <table class="table table-sm table-hover">
                    <thread>
                      <tr>
                        <th class="text-center"></th>
                        <th class="text-center">Number of Occurance</th>
                        <th class="text-center">Probability of Getting This Wrong Answer</th>
                        <th class="text-center">Probability of Getting Same Answer</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Q4</td>
                        <td class="text-center">5</td>
                        <td class="text-center">2.5%</td>
                        <td class="text-center">15%</td>
                      </tr>
                      <tr>
                        <td>Q7</td>
                        <td class="text-center">2</td>
                        <td class="text-center">1%</td>
                        <td class="text-center">25%</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

        </li><br>

      </ol>
      <script>
        document.addEventListener('DOMContentLoaded', function () {
          const queryParamsString = window.location.search.substr(1);
          const queryParams = queryParamsString
            .split('&')
            .reduce((accumulator, singleQueryParam) => {
              const [key, value] = singleQueryParam.split('=');
              accumulator[key] = value;
              return accumulator;
            }, {});
    
          const div = document.getElementById('cardHeader');
          div.textContent = "Detailed Report for Pair (" + queryParams.data1 + " , " + queryParams.data2 + ")";
          
          let pair_dict = JSON.parse(localStorage.getItem('pair_dict'));
          let rule5_dict = JSON.parse(localStorage.getItem('rule5_dict'));
          let submissionTimes = JSON.parse(rule5_dict[queryParams.data1]["submission_times"].replace(/\'/g, '"'));
          let submissionTimes2 = JSON.parse(rule5_dict[queryParams.data2]["submission_times"].replace(/\'/g, '"'));
          let submissionDiff = {};
          for (let key in submissionTimes) {
              if (submissionTimes2.hasOwnProperty(key)) {
                  let diff = Math.abs(new Date(submissionTimes[key]) - new Date(submissionTimes2[key]));
                  submissionDiff[key] = diff/1000;
              }
          }
          console.log(submissionDiff);
          console.log(typeof submissionDiff);

          const p = document.getElementById('cardContent');
          confidence = pair_dict[queryParams.data1+queryParams.data2]["confidence"]
          p.textContent = "Student "+ queryParams.data1 + ", Student " + queryParams.data2 + " have been detected for abnormal behaviors with a confidence score of: " + confidence + "%";

          const rule1prob = document.getElementById('rule1prob');
          rule1prob.textContent = "Submitted Multiple Exam Questions in Close Time, confidence: "+ pair_dict[queryParams.data1+queryParams.data2]["rule1_prob"] + "%"
          const rule1message = document.getElementById('rule1message');
          rule1message.textContent = "Violation: "+ pair_dict[queryParams.data1+queryParams.data2]["rule1_violation"]
          const tableBody = document.getElementById("table1");
          tableBody.innerHTML = ''; // Clear existing rows

          Object.entries(submissionTimes).forEach(([key, value]) => {
                const row = `<tr>
                <td>${key} Submission Time</td>
                <td class="text-center">${value}</td>
                <td class="text-center">${submissionTimes2[key]}</td>
                <td class="text-center">${submissionDiff[key]} seconds</td>
            </tr>`;
            tableBody.innerHTML += row;
          });

          const rule2prob = document.getElementById('rule2prob');
          rule2prob.textContent = "Submitted Multiple Exam Questions with Same Answers, confidence: "+ pair_dict[queryParams.data1+queryParams.data2]["rule2_prob"] + "%"
          const rule2message = document.getElementById('rule2message');
          rule2message.textContent = "Violation: "+ pair_dict[queryParams.data1+queryParams.data2]["rule2_violation"]

          const rule3prob = document.getElementById('rule3prob');
          rule3prob.textContent = "Submitted Multiple Exam Questions in Close Order, confidence: "+ pair_dict[queryParams.data1+queryParams.data2]["rule3_prob"] + "%"
          const rule3message = document.getElementById('rule3message');
          rule3message.textContent = "Violation: "+ pair_dict[queryParams.data1+queryParams.data2]["rule3_violation"]

          const rule4prob = document.getElementById('rule4prob');
          rule4prob.textContent = "Submitted Multiple Exam Questions with Same Wrong Answers, confidence: "+ pair_dict[queryParams.data1+queryParams.data2]["rule4_prob"] + "%"
          const rule4message = document.getElementById('rule4message');
          rule4message.textContent = "Violation: "+ pair_dict[queryParams.data1+queryParams.data2]["rule4_violation"]

          const rule6prob = document.getElementById('rule6prob');
          rule6prob.textContent = "Submitted Multiple Exam Questions with Same Score Distribution, confidence: "+ pair_dict[queryParams.data1+queryParams.data2]["rule6_prob"] + "%"
          const rule6message = document.getElementById('rule6message');
          rule6message.textContent = "Violation: "+ pair_dict[queryParams.data1+queryParams.data2]["rule6_violation"]
        });
      </script>

      <!-- Footer for download report -->
      <div class="card-footer">
        <p>
          Download <a href="/pl/course_instance/57/instructor/instance_admin/assessments/BJC_Fa22_assessment_stats.csv">Report_for_pair_s1_s2.pdf</a> (of this pair).<br>
          Download <a href="/pl/course_instance/57/instructor/instance_admin/assessments/BJC_Fa22_assessment_stats.csv">Report_all.pdf</a> (of all pairs in the class).
        </p>
      </div>
      </div>
    </div>

  </body>
</html>